@import url(http://fonts.googleapis.com/css?family=Sanchez);

/* global styles */

* {

  font-family: 'Sanchez', serif;
  background-color: #DEDFBE;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

}

.button {

  background-color: transparent;
  border: 1px solid #575640;
  color: #575640;
  cursor: pointer;

}


/* swatch section styles */

#swatchSection {

  position: absolute;
  width: 275px;
  height: 100%;
  background-color: #252117;
  float:left;

}

#swatchHeader {

  display: block;
  text-align: center;
  margin-bottom: 5px;
  background-color: transparent;


}

#logo {

  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: transparent;

}

#titleHeading {

  display: inline-block;
  color: #F46922;
  text-align: center;
  font-size: 16pt;
  padding: 20px 0px 0px 10px;
  background-color: transparent;

}

#clearButton {

  display: block;
  margin: 0 auto;
  width: 198px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;

}

#clearButton:active {

  position: relative;
  top: 1px;

}

/* swatch styles */

#swatch {

  display: block;
  text-align: center;
  position: relative;
  margin: 25px 0px 25px 0px;
  background-color: transparent;
  cursor: pointer;

}

.swatchRow {


}

.swatchCell {

  box-sizing: border-box;
  display: inline-block;
  width: 33px;
  height: 33px;
  background-color: #FFF;

}

.swatchCell:hover {

  border: 3px solid #F13614;

}

#optionDiv {

  width: 198px;
  height: 30px;
  display: block;
  margin: 0 auto;
  background-color: transparent;

}

#eraseButton {

  width: 32px;
  height: 32px;
  display: inline-block;
  background-color: white;
  background-image: url('../img/red-slash.svg');
  vertical-align: top;
  line-height: 64px;

}

#eraseButton:active {

  position: relative;
  top: 1px;

}

#currentColorDisplay  {

  display: inline-block;
  width: 62px;
  height: 30px;
  border: 1px solid #575640;
  text-align: center;
  font-size: 15px;
  color:red;
  vertical-align: top;
  line-height: 30px;
  background-color: transparent;

}

#undoButton {

  display: inline-block;
  width: 85px;
  height: 30px;
  text-align: center;
  margin: 0px;
  padding: 0px 0px 0px 15px;
  vertical-align: top;
  line-height: 30px;
  font-weight: bold;
  font-size: 18px;
  background-image: url('../img/undo.svg');
  -webkit-background-size: 15px;
  background-size: 15px;
  background-position: 10% 40%;
  background-repeat: no-repeat;

}

#undoButton:active {

  position: relative;
  top: 1px;

}

/* canvas section styles */

#canvasSection {

  position: absolute;
  height: 100%;
  margin-left: 275px;
  padding: 45px 50px 0px 25px;

}

/* canvas styles */

#canvas {

  position: relative;
  display: block;
  margin-left: 20px;
  border: 1px solid gray;
  min-width: 600px;

}

.canvasRow {

}

.canvasCell {

  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #FFF;

}

