@import url(http://fonts.googleapis.com/css?family=Sanchez);

/* swatch section styles */

#swatchSection        {display:block; width: 31%; height: 100%;background-color: #252117;}
#titleHeading         {color: #F46922;font-family: 'Sanchez', serif;}
#clearButton          {display:block;}
#currentColorDisplay  {width: 98px;height: 25px;border: 1px solid gray;text-align: center;font-size: 20px;color:red;}
.button               {width: 50px;height: 25px;text-align: center;}

/* swatch styles */

#swatch               {display: inline-block;position: absolute;border: 1px solid gray;}
.swatchRow            {}
.swatchCell           {display: inline-block;width: 25px; height: 25px;background-color: #FFF;}


/* canvas section styles */

#canvasSection        {display:inline-block;background-color: #DEDFBE;}

/* canvas styles */

#canvas               {display: inline-block;margin-left: 200px;border: 1px solid gray;}
.canvasRow            {}
.canvasCell           {display: inline-block;width: 20px; height: 20px;background-color: #FFF;}

